.two-column {
	width: var(--width-content);
	margin: var(--size-4) auto;
}

@media (min-width: 60rem) {
	.two-column > div {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: var(--size-4);
	}
}
