.header-wrapper {

}

.nav {
	width: min(calc(100% - var(--size-6)), var(--size-content-max));
	margin-inline: auto;
	padding-block: var(--size-6);
	border-block-end: 1px solid currentcolor;
}

.nav > .section > .default-content-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav__home-link-container {
	all: unset;
}

.nav__list {
	list-style: '';
	margin: 0;
	padding: 0;
	display: flex;
	gap: var(--size-4);
}

.nav__home-link,
.nav__link {
	all: unset;
	cursor: pointer;
}

.nav__home-link {
	font-weight: var(--font-weight-7);
	text-transform: uppercase;
	font-size: var(--font-size-fluid-1);
	transition: color 150ms ease-in-out;
}

.nav__home-link:hover {
	color: var(--color-lime-8);
}

.nav__link {
	display: inline-block;
	padding: var(--size-1) var(--size-2);
	border-radius: var(--radius-2);
	transition: background-color 150ms ease-in-out;
}

.nav__link:hover {
	background-color: var(--color-gray-2);
}
