.header-wrapper {
	margin-block-end: var(--size-6);
}

.nav {
	width: min(calc(100% - var(--size-6)), var(--size-content-max));
	margin-inline: auto;
	padding-block: var(--size-6);
	border-block-end: 1px solid currentcolor;
}

.nav > .section > .default-content-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav__home-link-container {
	all: unset;
}

.nav__list {
	list-style: '';
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	gap: var(--size-4);
	flex-direction: column;
	position: fixed;
	inset: 0;
	z-index: var(--layer-9);
	background: var(--color-gray-0);
	height: 100vh;
	box-sizing: border-box;
}

.nav__list[aria-hidden="true"] {
	display: none;
}

@media (min-width: 50rem) {
	.nav__list {
		position: static;
		flex-direction: row;
		height: unset;
		background-color: unset;
	}
}

.nav__item {
	display: flex;
	align-items: stretch;
}

.nav__home-link,
.nav__link {
	all: unset;
	cursor: pointer;
}

.nav__home-link {
	font-weight: var(--font-weight-7);
	text-transform: uppercase;
	font-size: var(--font-size-fluid-1);
	transition: color 150ms ease-in-out;
}

.nav__home-link:hover {
	color: var(--color-lime-8);
}

.nav__link {
	display: flex;
	align-items: center;
	padding: var(--size-1) var(--size-2);
	border-radius: var(--radius-2);
	transition: background-color 150ms ease-in-out;
}

.nav__link:not(:has(.icon)):hover {
	background-color: var(--color-gray-2);
}

.nav__link:has(.icon) {
	transition: color 150ms ease-in-out;
}

.nav__link:has(.icon):hover {
	color: var(--color-lime-8);
}

.nav__link > .icon {
	display: flex;
	align-items: center;
}

.nav__link .icon__svg {
	height: 1.25em;
	width: 1.25em;
}

.nav__toggle {
	all: unset;
	cursor: pointer;
}

.nav__toggle[aria-expanded="true"] {
	position: fixed;
	inset-block-start: calc(var(--size-6) + 0.125);
	inset-inline-end: var(--size-3);
	z-index: var(--layer-10);
}
