.purchase-info-wrapper {

}

.purchase-info {
	margin-block-start: var(--size-4);
	padding-block-start: var(--size-4);
	border-top: var(--border-size-1) solid var(--color-gray-10);
}

.purchase-info h2 {
	margin: unset;
}
