.product-image-container {
	width: var(--width-content);
	margin-inline: auto;
	display: grid;
	grid-template-areas: "image" "description";
}

.product-image-container > .default-content-wrapper {
	grid-area: description;
}

.product-image-container > .product-image-wrapper {
	grid-area: image;
}

@media (min-width: 50rem) {
	.product-image-container {
		grid-template-areas: "image description";
		grid-template-columns: 3fr 2fr;
		gap: var(--size-4);
	}
}

.product-image {
	grid-template-areas: "p1" "list";
	display: grid;
	gap: var(--size-3);
	margin-block-end: var(--size-5);
}

@media (min-width: 50rem) {
	.product-image {
		grid-template-areas: "list p1";
		grid-template-columns: 6rem auto;
		gap: var(--size-4);
		margin-block-end: unset;
	}
}

.product-image__container {
	grid-area: p1;
}

.product-image__container .product-image__media {
	max-height: 80vh;
	width: auto;
}

.product-image__list {
	grid-area: list;
	list-style: '';
	margin: 0;
	padding: 0;
	display: flex;
	overflow: auto;
	gap: var(--size-3)
}

@media (min-width: 50rem) {
	.product-image__list {
		flex-direction: column;
		gap: var(--size-4);
	}
}

.product-image__item {
	width: 6rem;
	display: flex;
}

.product-image__button {
	all: unset;
	aspect-ratio: 1 / 1;
	cursor: pointer;
	display: block;
}

.product-image__media {
	display: block;
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
	border-radius: var(--radius-2);
}
