html {
  height: 100%;
}

body {
  all: unset;
  min-height: 100%;
  font-family: var(--font-sans);
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
  height: auto;
}

div:empty,
div:has(> div:only-child:empty) {
  display: none;
}

main {
  flex-grow: 2;
}

main > .section > .default-content-wrapper {
  width: var(--width-content);
  margin-inline: auto;
}

.two-column {
  width: var(--width-content);
  margin: var(--size-4) auto;
}

.two-column > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--size-4);
}
