html {
  height: 100%;
}

body {
  all: unset;
  min-height: 100%;
  font-family: var(--font-sans);
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
  height: auto;
}

:where(h1, h2, h3, h4, h5, h6, p) {
  margin: unset;
}

:where(h1, h2, h3, h4, h5, h6) {
  line-height: var(--font-lineheight-1);
}

:where(p) {
  max-width: 65ch;
  line-height: var(--font-lineheight-3s);
}

:where(h1, h2, h3, h4, h5, h6, p) + p {
  margin-block-start: 1em;
}

div:empty,
div:has(> div:only-child:empty) {
  display: none;
}

main {
  flex-grow: 2;
}

main > .section:not(.product-image-container) > .default-content-wrapper {
  width: var(--width-content);
  margin-inline: auto;
}

.page-title {
  margin-block: 0;
}

.price-block {
  margin-block-start: 0;
  font-size: var(--size-fluid-3);
}
